<%= simple_form_for([@event, @entry], :url => confirm_forum_entries_path(@event)) do |f| %>
  <%= f.input :name, input_html: { class: 'forum-form-input' }  %>
  <%= f.input :company, input_html: { class: 'forum-form-input' } %>
  <%= f.input :division, input_html: { class: 'forum-form-input' } %>
  <%= f.input :position, input_html: { class: 'forum-form-input' } %>
  <%= f.input :address, input_html: { class: 'forum-form-input', size: 100 } %>
  <%= f.input :phone, input_html: { class: 'forum-form-input' } %>
  <%= f.input :email, input_html: { class: 'forum-form-input' } %>

  <span style="margin-left: 10px;">
    <%= f.submit "入力内容を確認", class: 'forum-form-button' %>
  </span>
<%- end -%>
<br />
<br />
<p>
※個人情報保護について<br />
記載頂いた情報は、当イベントの連絡及びRubyビジネス推進協議会が主催する各種催し物のご案内に利用させて頂きます。<br />
ご都合の悪い方は、大変お手数では御座いますが、その旨をお知らせください。
</p>