<section class='header-section' id='news'>
  <h2><%= @event.title %> へのお申し込み内容</h2>

  <div class="wordnotice">
    <h3>お申し込みありがとうございます。</h3>
    下記内容でお申し込みが完了いたしました。
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:name) %></h3>
    <div class="wordcontent">
      <%= @entry.name %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:company) %></h3>
    <div class="wordcontent">
      <%= @entry.company %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:division) %></h3>
    <div class="wordcontent">
      <%= @entry.division.present? ? @entry.division : "入力なし"  %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:position) %></h3>
    <div class="wordcontent">
      <%= @entry.position.present? ? @entry.position : "入力なし"  %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:address) %></h3>
    <div class="wordcontent">
      <%= @entry.address %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:phone) %></h3>
    <div class="wordcontent">
      <%= @entry.phone %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:email) %></h3>
    <div class="wordcontent">
      <%= @entry.email %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:entry_type) %></h3>
    <div class="wordcontent">
      <%= @entry.entry_type_text %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:entry_table_talk) %></h3>
    <div class="wordcontent">
      <%= @entry.entry_table_talk_question %>
    </div>
  </div>

  <div class="wordsection">
    <h3><%= Entry.human_attribute_name(:intermediary) %></h3>
    <div class="wordcontent">
      <%= @entry.intermediary %>
    </div>
  </div>
</section>
