<!DOCTYPE html>
<html>
<head>
  <title>Rubyビジネス推進協議会 | イベント申し込みページ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => "shared/header" %>

  <div id='container'>
    <div id='main-container'>
      <div class='row clearfix'>
        <div class='content-left'>
          <%= yield %>
        </div>

        <div class='content-right'>
          <%= render :partial => "shared/sidebar" %>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
